body{
    margin: auto;
    max-width: 1200px; 
    background-color: whitesmoke;
    margin-top: -10px;
}
h1{
    text-align: center;
}
.navbar{
    margin: auto;
    max-width: 2000px;
    text-align: center;
    border: solid;
    border-radius: 25px;
    border-color: darkblue;
    padding: 15px;
    padding-bottom: 35px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 00px;
    background-color: #EBBE2D;  
    }
.navbar ul li{
    display: inline;
    float: left; 
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 25px;
    border: solid;
    border-radius: 20px;
    border-width: 4px;
    border-color: darkblue;
    background-color: #0795CE;  
}
.navbar ul li:hover{
    background-color: blue;
}
.navbar ul li:onfocus{
    background-color: blue;
}
.navbar ul li a:hover{
    text-decoration-color: lightyellow;
}
li{
    font-size: 20px; 
}
img{
    margin: 10px;
    float: left;
}
#img2{
    float: right;
}
#img3{
    margin-left: auto;
    margin-right: auto;
    min-width: 500px;
}
.navbar a{
    color:white;
    display: block;
    text-decoration: none;
    font-family: sans-serif; 
    width: 155px; 
}
.navbar a:hover{
    color: #FEFEFE;
}
#bottom{

}
#main{
    margin-top: 130px;
    background-color: white;
    padding: 10px;
    margin-top: 140px;
}
.centerButton{
margin: auto;
max-width: 500px;
}


