body{
    margin: auto;
    max-width: 1200px; 
    background-color: #E3E5E7;
}
h1{
    text-align: center;
}
.navbar{
    text-align: center;
    border: solid;
    padding: 20px;
    }
.navbar ul li{
    display: inline;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 25px;
    border: solid;
    border-width: 1px;
}
img{
    margin: 10px;
    float: left;
}
#img2{
    float: right;
}