@media (max-width: 1500px){
    .navbar{
        font-size:90%;
        padding: 90%;
    }
    .main{
    max-width: 90%;
    font-size: 90%;
    }
    img{
    
    }
    body{
        font-size: 90%;
    }
}

@media (max-width: 1375px){
    .navbar{
<<<<<<< HEAD
        font-size:80%;
=======
        font-size:80%; 
>>>>>>> 837e5381f7610da8e47ba99fe2e8a6418cda5a42
        padding: 80%;
    }
    #main{
    max-width: 90%;
    margin: auto;
    font-size: 90%;
    }
}

@media (max-width: 1300px){
    .navbar{
        font-size:80%; 
        padding: 80%;
    }
    #main{
    max-width: 80%;
    margin: auto;
    font-size: 80%;
    }
}

@media (max-width: 1200px){
    .navbar{
<<<<<<< HEAD
        font-size:70%;
=======
        font-size:70%; 
>>>>>>> 837e5381f7610da8e47ba99fe2e8a6418cda5a42
        padding: 70%;
    }
    #main{
    max-width: 70%;
    margin: auto;
    font-size: 70%;
    }
}

@media (max-width: 1075px){
    .navbar{
    font-size:60%; 
        padding: 60%;
    }
    #main{
    max-width: 60%;
    margin: auto;
    font-size: 60%;
    }
}

@media (max-width: 1000px){
    .navbar{
    font-size:50%; 
        padding: 50%;
    }
    #main{
    max-width: 50%;
    margin: auto;
    font-size:50%;
    }
}

@media (max-width: 900px){
    .navbar{
    font-size:40%; 
        padding: 40%;
    }
    #main{
    max-width: 40%;
    font-size:40%;
    }
}

@media (max-width: 800px){
    .navbar{
    font-size:35%; 
        padding: 35%;
    }
    #main{
    max-width: 35%;
    margin: auto;
    font-size:35%;
        font-size:35%;
    }
}

@media (max-width: 700px){
    .navbar{
        font-size: 34%; 
        padding: 34%;
    }
    #main{
    max-width: 34%;
    margin: auto;
        font-size: 34%;
    }
}

@media (max-width: 675px){
    .navbar{
        font-size: 33%; 
        padding: 33%;
    }
    #main{
    max-width: 33%;
    margin: auto;
        font-size: 33%;
    }
}

@media (max-width: 650px){
    .navbar{
        font-size: 32%; 
        padding: 32%;
    }
    #main{
    max-width: 32%;
    margin: auto;
        font-size: 32%; 
    }
}

@media (max-width: 600px){
    .navbar{
        font-size: 31%; 
        padding: 31%;
    }
    #main{
    max-width: 31%;
    margin: auto;
        font-size: 31%;
    }
}

@media (max-width: 500px){
    .navbar{
        font-size: 30%; 
        padding: 30%;
    }
    #main{
    max-width: 30%;
    margin: auto;
    font-size: 30%; 

    }
}

body{
    margin: auto;
    max-width: 75em; 
    background-color: whitesmoke;
    max-width: 1200px; 
    background-color: whitesmoke;
    margin-top: -10px;
}

h1{
    text-align: center;
}

.navbar{
    margin: auto;
    max-width: 93.75em;
    text-align: center;
    border: solid;
    border-radius: 25em;
    border-color: darkblue;
    padding:0.9375em;
    padding-bottom: 2.1875em;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: #EBBE2D;  
}

.navbar ul li{
    display: inline;
    float: left; 
    padding: 0.4em;
    margin-left: 0.4em;
    margin-right: 0.4em;
    font-size: 1.35em;
    border: solid;
    border-radius: 1.25em;
    border-width: 0.25em;
    border-color: darkblue;
    background-color: #0795CE;  
}

.navbar ul li:hover{
    background-color: blue;
}

.navbar ul li:onfocus{
    background-color: blue;
}

.navbar ul li a:hover{
    text-decoration-color: yellow;
}

li{
    font-size: 1.25em; 
}

img{
    margin: 10px;
    float: left;
}

#img2{
    float: right;
}

#img3{
    margin-left: auto;
    margin-right: auto;
    min-width: 500px;
}

.navbar a{
    color:white;
    display: block;
    text-decoration: none;
    font-family: sans-serif; 
    width: 6.1875em; 
}

.navbar a:hover{
    color: #FEFEFE;
}
#bottom{
    
}
#main{
    margin-top: 130px;
    background-color: white;
    padding: 10px;
    margin-top: 140px;
}
.centerButton{
    margin: auto;
    max-width: 500px;
}

#faq
{
    padding: 3em;
}